@import "../../style/responsive.scss";

.userPostsContainer {
  // height: 165vh;
  height: 100%;

  @include sm {
    height: 100%;
  }
}

.postBack {
  margin-top: 10px;
  margin-left: 50px;
  display: flex;

  @include sm {
    margin-left: 20px;
    margin-top: 20px;
  }

  h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
  }

  .backArrow {
    margin-right: 8px;
    font-size: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: teal;
    }
  }
}

.userPosts {
  margin: 30px 50px;
  display: flex;

  @include sm {
    margin: 0;
  }

  .userCatPosts {
    display: flex;
    flex-wrap: wrap;
    flex: 8;

    @include sm {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px; 
    }

    .errorMessage{
      font-family: "Dosis", sans-serif;
      font-weight: 600;
    }
  }



  .sidebar {
    flex: 2;

    @include sm {
      display: none;
    }
  }
}
