@import "../../style/responsive.scss";

.userPostsContainer {
  min-height: 80vh;


  @include sm {
    height: 100%;
  }
}

.postBack {
  margin-top: 10px;
  margin-left: 50px;
  display: flex;

  @include sm {
    margin-left: 20px;
    margin-top: 20px;
  }

  h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
  }

  .backArrow {
    margin-right: 8px;
    font-size: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: teal;
    }
  }
}

.userPosts {
  margin: 30px 50px;
  display: flex;


  @include md {
    margin: 0 20px;
    }

  @include sm{
    margin: 0 5px;
  }

  .userCatPosts {
   
    flex: 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-right: 10px;
  
    @include lg{
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      }
    
    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    margin-right: 0;
      }
  
    @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-right: 0;
    }

    .errorMessage{
      font-family: "Dosis", sans-serif;
      font-weight: 600;
    }
  }



  .sidebar {
    flex: 2;
  }
}
