@import "../../style/responsive.scss";

.homeBanner {
  display: flex;
  gap: 8px;

  @include lg {
    gap: 4px;
  }

  @include md {
    display: block;
  }

  @include sm {
    display: block;
  }

  .leftFeature {
    flex: 7;
    animation: slideInLeft 1.5s ease-out;

    @include md {
      margin-bottom: 5px;
      margin-right: 0;
      flex: 0;
    }

    @include sm {
      flex: 0;
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  .rightFeature {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include lg {
      gap: 4px;
    }

    @include md {
      flex-direction: row;
      gap: 5px;
    }

    @include sm {
      flex-direction: row;
      gap: 5px;
    }

    .rightTopFeature,
    .rightBottomFeature {
      flex: 1;
      margin: 0 5px;

      @include md {
        margin: 0;
      }

      @include sm {
        margin: 0;
      }
    }

    .rightTopFeature {
      animation: slideInTop 1.5s ease-out; /* Apply slide-in animation */
    }

    .rightBottomFeature {
      animation: slideInBottom 1.5s ease-out; /* Apply slide-in animation */
    }
  }
}

/* Define keyframe animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
