@import "../../style/responsive.scss";


.homeBanner {
  height: 70vh;
  display: flex;
  // overflow: hidden; 

  @include sm {
    height: 40vh;
    display: block;
  }

  @include md{
  }


  .leftFeature {
    flex: 7;
    margin-right: 10px;
    border-radius: 10px;
    animation: slideInLeft 1.5s ease-out; /* Apply slide-in animation */

    @include sm {
      flex: 0;
      margin-right: 0;
    }
  }

  .rightFeature {
    flex: 3;
    display: flex;
    flex-direction: column;

    @include sm {
      flex-direction: row;
      display: none;
    }

    @include md{
      display: none;
    }

    .rightTopFeature,
    .rightBottomFeature {
      flex: 1; /* Ensure both features take up equal space */
      margin: 0 5px; /* Adjust margins as needed */
    }

    .rightTopFeature {
      margin-bottom: 5px;
      animation: slideInTop 1.5s ease-out; /* Apply slide-in animation */
    }

    .rightBottomFeature {
      animation: slideInBottom 1.5s ease-out; /* Apply slide-in animation */
    }
  }
}

/* Define keyframe animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
