.updatePassword {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dosis", sans-serif;
  position: relative;

  .updatePasswordBack{
    position: absolute;
    font-size: 34px;
    cursor: pointer;
    top: 10px;
    left: 10px;
  }

  .updatePasswordContainer {
    padding: 30px 40px;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(254, 158, 94) 0%,
      rgb(254, 94, 114) 94.3%
    );
    border-radius: 5px;

    
    h1 {
        color: white;
        font-size: 40px;
      }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 15px;
      min-width: 300px;


      .formData {
        display: flex;
        flex-direction: column;

        .formError{
          color: red;
          font-weight: 600;
        }

        label{
            font-weight: 500;
            color: white;
            
        }
        input{
            border: none;
            padding: 5px;
            background: transparent;
            border-bottom: 2px solid aqua;
            font-size: 20px;

            &::placeholder{
                font-size: 15px;
            }

            &:focus{
                outline: none;
            }
        }
      }

      button{
        border: none;
        background-color: aqua;
        padding: 5px;
        font-size: 20px;
        font-weight: 500;
        color: white;
        border-radius: 4px;
        font-family: "Dosis", sans-serif;
        cursor: pointer;
    }
    }
  }
}
