@import "../../style/responsive.scss";

.back {
  margin-left: 40px;
  font-size: 34px;

  @include sm {
    margin-left: 20px;
    margin-top: 20px;
  }

  &:hover {
    color: teal;
  }
}
.single {
  display: flex;
  margin: 5px 40px 20px 40px;

  @include sm {
    margin: 20px;
  }
  .singlepost {
    flex: 8;
    margin-right: 20px;

    @include md {
      margin-right: 0;
    }
  }
  .sidebar {
    flex: 2;
  }
}
