@import "../../style/responsive.scss";

.mainFeature {
  position: relative;
  font-family: "Dosis", sans-serif;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.01);
  }

  .bgImg {
    img {
      width: 100%;
      height: 70vh;
      object-fit: cover;
      border-radius: 5px;
      filter: brightness(0.6);

      @include sm {
        height: 40vh;
      }
    }
  }
  .info {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    color: #fff;
    gap: 10px;

    .feature{
        background-color: red;
        width: fit-content;
        padding: 5px;
        border-radius: 4px;
        font-weight: 600;
      }


      .date{
        font-size: 20px;
        .line{
          color: red;
          margin: 0px 5px;
        }
      }

    h1 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        color: aqua;
      }
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.mainFeature.feature{
  .bgImg {
    width: 290px;
    img {
      // width: 100%;
      // height: 70vh;
      object-fit: cover;
      border-radius: 5px;
      filter: brightness(0.6);
    }
  }

  .info {
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    color: #fff;
    gap: 10px;

    .feature{
        background-color: red;
        width: fit-content;
        padding: 5px;
        border-radius: 4px;
        font-weight: 600;
      }


      .date{
        font-size: 20px;

        .catName{
          display: none;
        }
        .line{
          color: red;
          margin: 0px 5px;
          display: none;
        }
      }

    h1 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      cursor: pointer;
      font-size: 20px;

      &:hover {
        color: aqua;
      }
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 20px;
      font-weight: 500;
      display: none;

    }
  }
}