@import "../../style/responsive.scss";

.blogcards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.blogcards.latest {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blogcards.trending {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include lg {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  @include md {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

 
 
}

.blogcards.popular {
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  @include xl {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }


  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    gap: 5px;
  }

 
}
