@import "../../style/responsive.scss";

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;

  .contactContainer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70%;
    padding: 30px;
    border-radius: 5px;

    @include lg{
      width: 500px;
      margin: 0px 10px;
    }

    @include sm {
      display: block;
      width: 310px;
      padding: 10px;
    }


    h1{
      text-align: center;
      font-size: 40px;
      margin-bottom: 15px;
      font-family: "Dosis", sans-serif;

    }

    .contactPart{
      display: flex;
    
 
      @include lg {
        display: block;
        padding: 10px;
        margin: 0 auto;
      }

    @include md {
      display: block;
      width: 90%;
      padding: 10px;
      margin: 0 auto;


    }

   

    @include sm {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 0 auto;

    }

    .contactLeft {
      display: flex;
      flex-direction: column;
      flex: 5;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        outline: none;
        font-size: 18px;
        background: transparent;
        border-bottom: 3px solid aqua;

        &::placeholder {
          font-size: 18px;
          font-weight: 600;
          color: black;
        }
      }

      textarea {
        padding: 5px 0px 0px 5px;
        font-size: 18px;
        resize: none;
        outline: none;
        background-color: transparent;
        border: 3px solid aqua;
        border-radius: 5px;
        &::placeholder {
          font-size: 18px;
          color: black;
          font-weight: 600;
        }
      }

      button {
        background-color: aqua;
        color: white;
        border: none;
        padding: 6px 0px;
        font-size: 25px;
        border-radius: 5px;
        font-family: "Inconsolata", monospace;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .contactRight {
      flex: 5;
      margin-left: 30px;

      @include lg {
        margin-top: 20px;
      }
      @include sm {
        margin-top: 20px;
      }
      .contactIcons {
        font-size: 30px;

        .icons {
          display: flex;
          align-items: center;


          .contactIcon {
            color: orange;
            font-size: 30px;

          
          }

          &:last-child {
            margin-top: 20px;
          }

          span {
            font-family: "Dosis", sans-serif;
            font-size: 25px;
            font-weight: 600;
            margin-left: 30px;

          

            @include sm {
              font-size: 20px;
            }
          }
        }
      }

      .lineborder {
        margin: 20px 0px;
      }

      .socialIcons {
        display: flex;
        justify-content: space-around;
        .socialIcon {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;

          .sIcon {
            font-size: 30px;
          }

          .Linkedin {
            color: #0a66c2;
          }

          .Resume {
            color: orange;
          }

          span {
            font-size: 25px;
            font-family: "Dosis", sans-serif;
            font-weight: 600;
          }

          .linkdin{
            color: #0a66c2;

          }
        }
      }
      }
    }
  }
}
