@import "../../style/responsive.scss";

.ContentPostsContainer {
  height: 100%;

  @include sm {
    height: 100%;
  }
}

.postBack {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;

  @include sm {
    margin-left: 20px;
    margin-top: 20px;
  }

  h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
  }

  .backArrow {
    margin-right: 8px;
    font-size: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: teal;
    }
  }
}

.contentPostsWrapper{
  display: flex;
  margin: 0px 30px ;

  .sidebar{
    flex: 2;

    @include sm {
      display: none;
    }
  }

}
.contentPosts {
  display: flex;
  flex-wrap: wrap;
  flex: 8;
  gap: 30px;
  

  @include sm{
    margin: 0;
  }

  .contentCatPosts{
    display: flex;
    flex: 8;
    flex-wrap: wrap;
    @include sm {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px; 
    }
  }

}
