@import "../../style/responsive.scss";

.ContentPostsContainer {
  min-height: 90vh;
  
}

.postBack {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;

  @include sm {
    margin-left: 20px;
    margin-top: 20px;
  }

  h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
  }

  .backArrow {
    margin-right: 8px;
    font-size: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: teal;
    }
  }
}

.contentPostsWrapper {
  display: flex;
  margin: 10px 30px;

  @include md {
    margin: 0 20px;
  
    }

  @include sm{
    margin: 0 5px;
  }

  .sidebar {
    flex: 2;
  }
}
.contentPosts {
  flex: 8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-right: 10px;

  @include lg{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    }
  
  @include md {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  margin-right: 0;
    }

  @include sm {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-right: 0;
  }
}
