.latest {
  font-family: "Dosis", sans-serif;
  display: flex;
  //   background-color: aquamarine;
    // padding: 0px 20px;
  .leftLatest {
    flex: 3;
    margin-right: 10px;
    margin-top: 40px;

    .leftLatestTop {
      display: flex;
      justify-content: space-between;

      p{
        font-weight:600;

      }
    }

    .leftArticle{
      margin-top: 20px;
    }
  }
  .rightLatest {
    flex: 7;
    background-color: #e4b5cb;
background-image: linear-gradient(315deg, #e4b5cb 0%, #722ae6 74%);
    border-radius: 20px 0px 0px 0px;
    padding: 30px;
    gap: 10px;
    margin-top: 40px;

    h1{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: white;
    }

    .rightInfo {
      display: flex;
      align-items: center;
      color: white;

      .line {
        font-size: 20px;
        color: red;
        margin: 0px 5px;
      }
    }

    .rightArticle {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h1{

      }

      .latestDesc{
        margin: 5px 0px;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 355px;
        border-radius: 10px;
      }
    }
  }
}
