@import "../../style/responsive.scss";

.forgotPassword {
  position: relative;
  min-height: 100vh;

  .logo {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    h1 {
      font-family: "ADLaM Display", "cursive";
      color: blueviolet;
      font-size: 50px;
      text-align: center;
      span {
        color: red;
      }
    }
  }
  .updatePasswordBack{
    position: absolute;
    font-size: 34px;
    cursor: pointer;
    top: 10px;
    left: 30px;

    @include sm{
      left: 5px;
    }
  }
  .forgotPasswordInfo {
    padding: 40px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-family: "Dosis", sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    @include sm{
      width: 310px;
    }

    h2 {
      text-align: center;
      font-size: 40px;
      color: whitesmoke;

      @include sm{
        font-size: 30px;
      }
    }

    p {
      font-size: 20px;
      font-weight: bold;
      color: white;

      @include sm{
        font-size: 16px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      input {
        padding: 10px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        font-family: "Dosis", sans-serif;
        outline: none;
        border-radius: 5px;

        @include sm{
          font-size: 16px;
        }

      }

      button {
        margin-top: 15px;
        padding: 10px;
        border: none;
        background-color: aqua;
        font-size: 20px;
        font-weight: bold;
        font-family: "Dosis", sans-serif;
         color: white;
         border-radius: 5px;
         cursor: pointer;

      

         &:hover{
            background-color: teal;
         }
      }
    }
  }
}
