.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  right: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #000;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 50px;
  width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
  background-color: #000;
}

.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background-color: 	#cbe2e2;

  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
body .bm-overlay {
  background: none !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: 5px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
  font-family: "Dosis", sans-serif;
  color: #000;
  font-size: 25px;
  font-weight: 600;
}

.cat {
  position: relative;

  .dA {
    font-size: 30px;
    position: absolute;
    top: 4px;
  }

  .burgerCategories {
    display: flex;
    flex-direction: column;

    span {
      font-size: 20px;
      margin-left: 30px;
    }
  }
}

.topListItem {
  margin: 20px 0px;
}

.user {
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;

  .userIcon {
    border-radius: 50%;
    background: #00FFFF;
    padding: 2px;
    font-size: 30px;
    color: #fff;
    margin-right: 5px;
  }
}
