/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    right: 20px;
    top: 20px;
    
  }
  
  .bm-burger-bars {
    background: black;
  }
  
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
    
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    top: 0;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Gabarito', sans-serif;

  }
  
  .bm-item:hover {
    color: #ffffff;
  }

  .topListItem{
    margin: 20px 0px;
  }

  .user{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .userIcon{
        border-radius: 50%;
        background: aqua;
        padding: 2px;
        font-size: 30px;
        color: white;
    }
  }