@import "../../style/responsive.scss";

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  top: 0;
  position: sticky;
  z-index: 99;
  background-color: beige;
  align-items: center;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  .left {
    font-size: 30px;
    cursor: pointer;
    flex: 3;

    @include sm {
      display: none;
      flex: 0;
    }

    @include md {
      display: none;
    }

    .Linkedin {
      color: #0a66c2;
    }
    .leftIcon {
      margin-right: 10px;
    }
  }

  .hamburger {
    @media (min-width: 481px) {
      display: none;
    }
  }

  .center {
    flex: 3;

    @include sm {
    }

    .logo {
      cursor: pointer;
      h1 {
        font-family: "ADLaM Display", "cursive";
        color: blueviolet;
        text-align: center;

        @include sm {
          text-align: left;
        }

        @include md {
          text-align: left;
        }
        span {
          color: red;
        }
      }
    }
  }

  .right {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;

    @include sm {
      display: none;
      flex: 0;
    }

    .links {
      span {
        margin-right: 20px;
        font-family: "Dosis", sans-serif;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid aqua;
        }
      }
    }

    .userInfo {
      display: flex;

      button {
        margin-right: 20px;
        color: #090909;
        font-size: 20px;
        padding: 8px 10px;
        background: #e8e8e8;
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 600;
        background-color: aqua;
        border: none;
        font-family: "Inconsolata", monospace;

        &:hover {
          background-color: aquamarine;
        }
      }

      .user {
        display: flex;
        align-items: center;
        cursor: pointer;
        .userIcon {
          border-radius: 50%;
          background: aqua;
          padding: 2px;
          font-size: 30px;
          color: white;
        }
      }
    }
  }
}
