@import "../../style/responsive.scss";

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}


.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px  20px;
  top: 0;
  position: sticky;
  z-index: 99;
  align-items: center;
  transition: background-color 0.8s ease-in-out;

  &.scrolled {
    background-color: #fff; 
  }

  @include sm{
    display: block;
  }


  .hamburger {
    @media (min-width: 481px) {
      display: none;
    }
  }



  .left {
  display: flex;
  justify-content: center;
  align-items: center;
    @include sm {
      display: block;
    }

    .logo {
      cursor: pointer;
      h1 {
        font-family: "ADLaM Display", "cursive";
        color: blueviolet;
        text-align: center;
        margin-right: 20px;

        @include sm {
          text-align: left;
        }

        @include md {
          text-align: left;
        }
        span {
          color: red;
        }
      }
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-right: 20px;
        font-family: "Dosis", sans-serif;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid aqua;
        }
      }

      @include sm{
        display: none;
      }

    }
  }

  .right {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;

    .search{
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 30px;
    padding: 8px;
    display: flex;
    align-items: center;

      input{
        background: transparent;
        border: none;

        &:focus{
          outline: none;
        }
      }

      button{
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }

    @include sm {
      display: none;
      flex: 0;
    }

    .userInfo {
      display: flex;

      button {
        margin-right: 20px;
        color: #090909;
        font-size: 20px;
        padding: 8px 10px;
        background: #e8e8e8;
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 600;
        background-color: aqua;
        border: none;
        font-family: "Dosis", sans-serif;

        &:hover {
          background-color: aquamarine;
        }
      }

      .user {
        display: flex;
        align-items: center;
        cursor: pointer;
        .userIcon {
          border-radius: 50%;
          background: aqua;
          padding: 2px;
          font-size: 30px;
          color: white;
        }
      }
    }
  }
}

.catLinks{
  font-family: "Dosis", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;  
  span{
    margin-right: 10px;
    font-weight: 600;

    &:hover{
      color: aqua;
    }

    @include sm{
      display: none;
    }
  }
}