@import "../../style/responsive.scss";

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 0;
  position: sticky;
  z-index: 99;
  background-color: white;

  .left {
    .logo{
      cursor: pointer;
        h1{
            font-family: 'ADLaM Display', 'cursive';
            color: blueviolet;
      span{
        color: red;
      }
        }
    }
  }
  .hamburger {
    @media (min-width: 481px) {
      display: none;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;

    @include sm{
      display: none;
    }

    .links {
      span {
        margin-right: 20px;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        &:hover{
          border-bottom: 2px solid aqua;
        }
      }
    }

    .userInfo {
      display: flex;
       
      button {
        margin-right: 20px;
        color: #090909;
        font-size: 18px;
        padding: 5px 10px;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 500;
      }

      .user{
        display: flex;
        align-items: center;
        cursor: pointer;
        .userIcon{
            border-radius: 50%;
            background: aqua;
            padding: 2px;
            font-size: 30px;
            color: white;
        }
      }

  }
  }
}
