@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Inconsolata:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  // background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
