.sidebar {
  background-color: #663dff;
background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  border-radius: 4px;
  height: 150vh;
  .sidebarHeader {
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;
    font-weight: 600;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 70%;
    margin: 15px auto;
    text-align: center;
  }

  .sidebarImg {
    padding: 10px;
    display: flex;
    justify-content: center;
    img {
      height: 300px;
      border-radius: 4px;
    }
  }

  .aboutMe {
    p {
      text-align: center;
      font-family: "Dosis", sans-serif;
      font-weight: 500;
      font-size: 18px;
      padding: 0px 10px;
    }
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: inline-block;
      font-family: "Dosis", sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
      margin-top: 10px;
      &:hover {
        color: aqua;
      }
    }
  }
}
