@import "../../style/responsive.scss";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-top: 10px;

  @include xl{
    padding: 20px;
  }

  @include md{
    padding: 20px;
  }

  @include sm {
    padding: 10px;
  }

  .footerLeft {
    .logo {
      cursor: pointer;
      h1 {
        font-family: "ADLaM Display", "cursive";
        font-size: 40px;
        color: white;


        @include sm {
          font-size: 30px;
        }
        span {
          color: red;
        }
      }
    }
    .socilMediaIcon {
      font-size: 30px;
      margin-top: 10px;

      @include sm {
        font-size: 25px;
      }
      .leftIcon {
        margin-right: 10px;
        cursor: pointer;
      }

      .Linkedin {
        color: #0a66c2;
        cursor: pointer;
      }
    }
  }

  .footerCenter {
    color: white;
    display: flex;
    flex-direction: column;

    @include sm {
      display: none;
    }

    @media (max-width: 767px) {
      display: none;
    }

    p {
      font-size: 30px;
      font-weight: 600;
      font-family: "Dosis", sans-serif;
    }
    .tags {
      margin-top: 10px;
      margin-left: 10px;
      span {
        font-size: 18px;
        font-family: "Dosis", sans-serif;
        font-weight: 600;
        cursor: pointer;
        margin-right: 10px;

        &:hover{
          color: teal;
        }

        @include md {
          display: flex;
          flex-direction: column;
        }

        @include lg {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.footerRight {
  font-family: "Dosis", sans-serif;
  cursor: pointer;
  color: white;

  h1 {
    @include sm {
      font-size: 30px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;

   

    span {
      font-size: 20px;
      font-weight: 600;

      &:hover{
        color: teal;
      }
    }
    .contactLinks {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      align-items: flex-start;
      

      span {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include sm {
          font-size: 16px;
        }

       
        .contactIcon {
          color: orange;
          margin-right: 10px;
          font-size: 25px;
        }
      }
    }
  }
}
