.feature {
  font-family: "Dosis", sans-serif;

  .featureInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      font-weight: 600;
    }
  }

  .techPosts{
    display: flex;
    flex-direction: row;
  }
}
