@import "../../style/responsive.scss";

.blogcard {
  width: 300px;
  height: 360px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 10px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;

  @include sm {
    height: 330px;
  }

  @include xxl {
    width: 290px;
  }

  &:hover {
    transform: scale(1.07);
  }

  .cardImg {
    flex: 4;
    img {
      width: 100%;
      object-fit: cover;
      height: 200px;
      display: flex;
      border-radius: 3px;
      @include sm {
        height: 150px;
      }
    }
  }
  .blogInfo {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h3 {
      margin-top: 10px;
      font-family: "Inconsolata", monospace;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include sm {
        font-size: 25px;
      }

      &:hover {
        color: aqua;
      }
    }
    p {
      font-family: "Dosis", sans-serif;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 500;

      @include sm {
        font-size: 15px;
      }
    }

    span {
      font-family: "Dosis", sans-serif;
      font-weight: 600;
    }
  }
}
