@import "../../style/responsive.scss";

.blogcard {
  font-family: "Dosis", sans-serif;
  transition: all 0.4s ease-in-out;
  width: 260px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #F9F9F8;
  transition: all 0.2s ease-in;

   
          &:hover {
            transform: scale(1.0.5);
            box-shadow: 10px 10px 10px #bebebe, -1px -1px 15px #ffffff;
            transition: 0.2s ease-in-out;
          }
  

  @include sm {
    width: 200px;
  }
  .cardImg {
    flex: 4;
    img {
      width: 100%;
      object-fit: cover;
      height: 100px;
      display: flex;
      border-radius: 3px;
      @include sm {
        height: 100px;
      }
    }
  }

  span {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .smInfo {
    display: flex;
    align-items: center;
    .line {
      color: red;
      font-size: 20px;
      margin: 0px 5px;
    }
  }

  .blogInfo {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h3 {
      margin-top: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include sm {
        font-size: 16px;
      }

      &:hover {
        color: aqua;
      }
    }
    p {
      font-family: "Dosis", sans-serif;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 500;

      @include sm {
        font-size: 15px;
      }
    }
  }
}

/////////////////////
.blogcard.latest {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-radius: 5px;

  .cardImg{
    flex: 2;

    @include md{
      flex: 1;
    }
    img{
      width: 100px;
      height: 90px;
    }
  }

  .blogInfo{
    padding: 0 5px;
    h3{
      font-size: 16px;
    }
  }

}
////////////////////////
.blogcard.trending {
  width: 250px;
  height: 200px;
  border-radius: 5px;

  .blogInfo{
    padding: 0 8px;
  }

  @include sm{
    width: 200px;
  }
}
///////////////////
.blogcard.popular {
  width: 100%;
  border-radius: 5px;
  .cardImg{
    img{
     
    }
  }

  .blogInfo{
    padding: 5px 8px;
    h3{
      font-size: 16px;
    }
  }
}
////////////////////
.blogcard.queryposts{
  width: 300px;
  @include sm{
    width: 200px;

  }
}
////////////////////////
.blogcard.contentposts{
  height: 200px;

  .blogInfo{
    padding: 5px 5px;
  }
}