@import "../../style/responsive.scss";

.homepage {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  // overflow: hidden;

  @include xl{
    margin: 20px 15px;
    
   }
  
  
 @include lg{
  margin: 20px 10px;
  
 }

  @include md {
    margin: 20px 10px;
  }

  @include sm {
    margin: 20px 5px;
    gap: 20px;
  }

  .homeSlide {
  }

  .trending {
    animation: slideInBottom 1.5s ease-out;

    @include sm {
      margin-top: 0;
    }
  }

  .latestHome {
    animation: slideInBottom 1.5s ease-out;
  }

  .popular {
    animation: slideInBottom 1.5s ease-out;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
