@import '../../style/responsive.scss';

.homepage {
    margin: 30px 20px;
  .recent{
    font-family: "Gabarito", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }
    .article{
      display: flex;
    .blog-container {
      flex: 8;
    }
    
    .sidebar {
      flex: 2;
      
      @include sm{
        display: none;
      }
    }
    
  }
  }
  
